<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/ini.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'javascript/coba.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body id = "main">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Parkingin</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/hello/">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="/book/">Book</a>
					<a class="nav-item nav-link" href="/history/">History</a>
					<a class="nav-item nav-link active" href="/add/">Request Places</a>
				</div>
				<ul class = "navbar-nav mr-auto">
					<a class="nav-item nav-link mr-auto" style = "text-right" href="/">Logout</a>
				</ul>
				<label class="switch">
					<input type="checkbox" onclick="darkLight()" id="checkBox" >
					<span class="slider"></span>
				</label>
			</div>
		</nav>
		<br>
		<div class = "cek text-center">
			<form action="/add/" method="post">
				<div class = "form-group text-center">
					{% csrf_token %}
					{{ form }}
				</div>
				<input class="btn btn-primary" type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>	
