<!DOCTYPE html>
{% load static %}
<html lang="en" class="b-white">
    <head>
        <title>Homepage</title>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    </head>
    <body style="width: 100%; height: 100%;">
        <center><div style="background-color: rgb(15, 119, 255); width: 100%; height: 10%; margin-top: 4%;">
        <p>      </p></div>

        <div class="formm" , style="width: 35%; height: 450px; border: 4px solid black; text-align:center" >
            <p id="judul" , style="text-align: center; font-size: 220%; font-weight: bold;"> Selamat Datang User</p>
            <br>
            <br>
            <button id="masuk", onclick="window.location.href='/hello'" style="font-size: 150%; margin-top: 10%;">Masuk</button>
        </div>
        </center>
	</body>
</html>
